#page {width: 99vw; margin: 0 auto;}

.simple {text-align: center; position: absolute; left: 15px; top: 25px;}
#login{height: 50%; margin-left: 2rem;
    text-align: center; position: absolute; right: 15px; top: 25px; }
